# MkDocs build output
site/

# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
env/
.venv/

# macOS
.DS_Store
.AppleDouble
.LSOverride
encryptcontent.cache

# Editors
.idea/
.vscode/
*.swp
*.swo

# Environment
.venv
